@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    color: rgb(27, 27, 27);
    text-decoration: none;
}

header {
    position: fixed;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-weight: 600;
    height: 40px;
    /*border-bottom: 1px solid rgba(201, 201, 201, 0.192);*/
}

.logo {
    font-size: 25px;
    letter-spacing: -7px;
    font-weight: 900;
    margin-bottom: -20px;
    padding-bottom: 20px;
}



h1 {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.842);
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-bottom: 30px;
}
main {
    padding-top: 40px;
}

.filters {
    /*background-color: blue;*/
    height: 50px;
    list-style: none;
    display: flex;
    align-items: center;
    overflow-x: auto;
    padding-bottom: 10px;
    padding-left: 10px;
}

.filter-text {
    font-weight: 700;
}

.name-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    /* background-color: burlywood; */
    font-size: 12px;
    padding-left: 20px;
    letter-spacing: 1px;
}

.icon {
    width: 16px;
}

form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    /*background-color: rgb(38, 27, 139);*/
    height: 80px;
    padding-left: 10px;
    padding-bottom: 40px;
}

form input, form button {
    font-size: 1.2em;
    border-radius: 0.2em;
    align-items: center;
    justify-content: center;
    padding: 0.2em;
    margin-top: 10px;
}

form input {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid rgba(54, 54, 54, 0.164);
    width: 80vw;
}

form button {
    max-width: 30px;
    max-height: 30px;
    border: none;
    cursor: pointer;
    color: rgb(255, 255, 255);
    background-color: white;
}

.feed {
    /*background-color: chocolate;*/
    max-width: 100vw;
}

article {
    padding-bottom: 20px;
    max-width: 100vw;
    margin-bottom: 20px;
    /*background-color: chartreuse;*/
}

h2 {
    font-size: 20px;
    padding-left: 10px;
}

address {
    font-style: normal;
    font-size: 12px;
    margin-bottom: 10px;
    padding-left: 10px;
}

.img-feed {
    max-width: 100%;
}

.filters-feed {
    /*background-color: blue;*/
    height: 20px;
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    align-items: center;
    font-size: 0.7em;
}

.icon-feed {
    width: 16px;
}

p {
    font-size: 0.8em;
    padding: 10px 0 0 10px;
}